* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Reset some default browser styles */
body {
  background-color: rgb(221, 221, 221);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  /* height: 100%; */
  width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
}

/* Style the code editor container */
#editor {
  border: 2px solid black;
  font-size: 20px;
  background-color: #f8f8f8;
  overflow-y: scroll;
}

.mid {
  flex-grow: 1;
  position: relative;
}

.editor-setting {
  user-select: none;
  position: absolute;
  right: 0;
  z-index: 99;
  margin: 5px;
  margin-right: 20px;
}

.CodeMirror {
  border: 1px solid red;
  min-height: 100%;
}

.internal_memory {
  height: 100%;
  min-width: 320px;
  max-width: 320px;
}

.external_memory {
  height: 100vh;
  min-width: 380px;
  max-width: 380px;
}

.CodeMirror {
  height: 70%;
  width: 100%;
}

.inner,
.outer {
  height: 50%;
  width: 100%;
}

.memory,
.io {
  height: 50vh;
  width: 100%;
}

.inner {
  display: flex;
}

.reg,
.flag,
.memoryin,
.ioin {
  border: 2px solid rgba(159, 157, 157, 0.677);
  border-radius: 5px;
  margin: 5px;
  padding: 10px 0px;
}

.memoryin,
.ioin {
  height: 50vh;
  display: flex;
  flex-direction: column;
  /* overflow: auto; */
  padding: 5px 10px;
  justify-content: space-around;
  background-color: white;
}

.flag {
  width: 40%;
}

.conv {
  font-size: 14px;
  border: 2px solid rgba(159, 157, 157, 0.677);
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

#conv1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 5px;
}
#conv2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}
#name {
  grid-column: 1 / span 2;
}

.conv > * {
  text-align: center;
}

.conv input {
  width: 100%;
  font-size: 1em;
  padding: 5px;
}

.Output {
  width: 100%;
  height: 28%;
  background-color: white;
  margin: 5px 0px;
  position: absolute;
  bottom: 0px;
  z-index: 99;
}

.material-symbols-outlined {
  color: #ccc;
  font-size: 20px;
  font-weight: 200;
  transition: all 0.2s ease-in;
  padding: 4px;
  font-variation-settings: "FILL" 0, "wght" 100, "GRAD" 100, "opsz" 16;
}

.material-symbols-outlined:hover {
  background-color: rgb(255, 255, 255, 0.2);
  border-radius: 100%;
  box-shadow: 0 0 12px rgb(255, 255, 255, 0.6);
}
.reg,
.flag {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.reg div,
.flag div {
  display: flex;
  justify-content: space-around;
  border: 1px solid rgba(159, 157, 157, 0.677);
  margin: 5px;
  padding: 2px;
  border-radius: 5px;
}
.reg span {
  width: 3rem;
  justify-content: space-around;
  display: flex;
}
.addr {
  display: flex;

  justify-content: space-around;
  width: 100%;
}
.cont {
  display: flex;
  flex-direction: column;
  overflow: auto;
}
